<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ service }}{% endblock %}</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', path='/styles.css') }}"
  >
  <script
    src="{{ url_for('static', path='/vendor/htmx.min.js') }}"
    integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V"
    crossorigin="anonymous"
    defer
  ></script>
</head>
<body>
  <main class="page-shell">
    {% block content %}{% endblock %}
  </main>
</body>
</html>
